*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 1200px;
  margin: 0 auto;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 768px) {
 .container-products {
 flex-wrap: nowrap;
}}
