.product-card-container {
    width: 280px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 25px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s all ease;
    font-family: "roboto";
  }
  
  .product-card-container:hover {
    transform: scale(0.97);
  }
  
  .product-img img {
    height: 120px;
    width: 100%;
    margin-top: 10px;
  }
  .product-button button {
    width: 120px;
    height: 34px;
    cursor: pointer;
    background: none;
    border: 2px solid black;
    border-radius: 14px;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
  }
  .product-button button:hover {
    background-color: #1976d2;
    color: white;
    font-weight: bold;
  }
  .product-button {
    margin-bottom: 10px;
  }
  .product-price {
    font-weight: bold;
    font-family: "roboto";
    font-size: larger;
  }
  .product-card-container h3 {
    text-align: center;
  }
  .product-title h3 {
    padding: 0 10px;
  }
 